// Styles
// name mixin after scss component
@mixin text($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  .text:not(.qty) {
    padding: $BS * 80 $BS * 32;

    .text {
      &__wrapper {
        max-width: $WidthNarrow;
        margin: 0 auto;
        padding: 0;
      }

      &__titleLeftWrapper {
        max-width: $WidthWide;
        margin: 0 auto;
        padding: 0 0 $BS * 40 $BS * 32;
      }
    }

    &.text--tourInfos {
      padding-top: 0;
    }
  }
}

// Add text
@include text();

// Add basic text with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include text(#{$Breakpoint});
  }
}

@include breakPointS() {
  $BS: getBaseSize("S");

  .text:not(.qty) {
    .text {
      &__titleLeftWrapper {
        padding-left: 0;
      }
    }
  }
}
