// Styles
// name mixin after scss footer
@mixin footer($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  .footer {
    background: $ColorLightest;

    &.text {
      padding: $BS * 64 $BS * 32;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 0 !important;
    }

    &__logos {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    &__logoWrapper {
      max-width: $BS * 128;
      max-height: $BS * 128;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__logoLink {
      &:after {
        display: none;
      }
    }

    &__logo {
      max-width: 100%;
    }

    &__address {
      font-style: normal;
    }
  }
}

// Add footer
@include footer();

// Add basic footer with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include footer(#{$Breakpoint});
  }
}

@include breakPointM() {
  $BS: getBaseSize("M");

  .footer {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;

      & > * {
        width: 50%;
        margin-bottom: $BS * 64;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__logos {
      justify-content: flex-end;
    }

    &__nav {
      display: flex;
      justify-content: center;

      a {
        margin: 0 $BS * 8;
      }
    }
  }
}

@include breakPointS() {
  $BS: getBaseSize("S");

  .footer {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;

      & > * {
        width: 100%;
        margin-bottom: $BS * 64;
        justify-content: center;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__address {
      text-align: center;
    }
  }
}
