// Styles
// name mixin after scss tour
@mixin tour($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  .tour {
    .tour__details {
      background-color: $Grey;
      padding: $BS * 32 $BS * 128;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__infoText {
      text-align: center;
    }

    &__infoImage {
      width: $BS * 128;
    }

    &__galleryImages {
      display: flex;
      flex-wrap: wrap;
    }

    &__galleryImage {
      cursor: pointer;
      height: $BS * 256;
      margin: $BS * 16;
    }

    &__bookingWrapper {
      display: flex;
    }

    &__dates,
    &__booking {
      width: 50%;
      padding: $BS * 64;

      .button {
        display: block;
        text-align: center;
        @include bsFontSize($BS, 42);
        padding: $BS * 16;
      }
    }

    &__dates {
      display: flex;
      flex-direction: column;
    }

    &__date {
      margin-bottom: $BS * 8;

      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $Grey;
        @include bsFontSize($BS, 22);
        padding: $BS * 8;
        background-color: $Grey;
        cursor: pointer;
        transition: background-color 0.3s ease-out, color 0.3s ease-out;

        &:hover {
          background-color: $ColorLight;
          color: $Black;
        }
      }

      input {
        display: none;

        &:checked {
          & + label {
            background-color: $ColorLight;
            color: $Black;
          }
        }
      }
    }

    &__lists {
      display: flex;
    }

    &__materiallist,
    &__programlist {
      flex-basis: 100%;
    }

    &__materiallist {
      margin-right: $BS * 32;
    }
  }

  .text:not(.qty) {
    .tour__infos.text__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: $BS * 64 $BS * 128;
    }
  }
}

// Add tour
@include tour();

// Add basic tour with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include tour(#{$Breakpoint});
  }
}

@include breakPointS() {
  $BS: getBaseSize("S");

  .tour {
    .tour__details {
      padding: $BS * 64 $BS * 32;
    }

    .tour__infos {
      padding: $BS * 32;
    }

    &__lists {
      flex-direction: column;
    }

    &__materiallist {
      margin-right: 0;
      margin-bottom: $BS * 32;
    }

    &__info {
      margin: $BS * 32;
    }

    &__details {
      padding-left: $BS * 32;
      padding-right: $BS * 32;
    }

    &__bookingWrapper {
      flex-direction: column;
    }

    &__dates {
      width: 100%;
      padding: $BS * 32 0;
    }

    &__booking {
      width: 100%;
      padding: $BS * 32 0;

      a {
        margin-right: 0;
      }
    }
  }
}

@include breakPointXS() {
  $BS: getBaseSize("XS");

  .tour {
    &__galleryImage {
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
