// Styles
// name mixin after scss tour
@mixin tour($type: "") {
  // get Basesize in correct relation to design width
  $BS: getBaseSize($type);

  .tour {
    .tour__details {
      // background-color: $Grey;
      padding: 0 $BS * 128 $BS * 32;
      max-width: $WidthNarrow;
      margin: 0 auto;
    }

    &__download {
      @include bsFontSize($BS, 19);
      line-height: 100%;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__infoImageWrapper {
      position: relative;

      canvas {
        width: $BS * 100;
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__infoText {
      text-align: center;
      @include bsFontSize($BS, 25);
      margin-bottom: 0;

      &:not(:first-of-type) {
        margin-top: 0;
      }
    }

    &__infoImage {
      width: $BS * 128;
    }

    &__gallery {
      &.text:not(.qty) {
        padding-top: 0;
        .text__wrapper {
          max-width: $WidthWide;
          margin: 0 auto;
        }
      }
    }

    &__galleryImages {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__galleryImage {
      cursor: pointer;
      height: $BS * 420;
      margin: $BS * 16;
    }

    &__bookingWrapper {
      display: flex;
    }

    &__dates,
    &__booking {
      width: 50%;
      padding: $BS * 64;

      .button {
        display: block;
        text-align: center;
        @include bsFontSize($BS, 32);
        padding: $BS * 16;
      }
    }

    &__dates {
      display: flex;
      flex-direction: column;
    }

    &__date {
      margin-bottom: $BS * 8;

      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $ColorLightest;
        @include bsFontSize($BS, 22);
        padding: $BS * 8;
        background-color: $ColorLightest;
        cursor: pointer;
        transition: background-color 0.3s ease-out, color 0.3s ease-out;

        &:hover {
          background-color: $ColorLight;
          // color: $White;
        }

        span {
          flex-basis: 100%;
        }
      }

      input {
        display: none;

        &:checked {
          & + label {
            background-color: $ColorDark;
            color: $ColorLightest;
          }
        }
      }
    }

    &__lists {
      display: flex;
    }

    &__materiallist,
    &__programlist {
      flex-basis: 100%;
    }

    &__materiallist {
      padding-right: $BS * 32;
    }
  }

  .text:not(.qty) {
    .tour__infos.text__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0 $BS * 128 $BS * 64;
    }
  }

  #bookingButton {
    &.disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

// Add tour
@include tour();

// Add basic tour with breakpoints
@each $Breakpoint in $Breakpoints {
  @include breakpoint(#{$Breakpoint}) {
    @include tour(#{$Breakpoint});
  }
}

@include breakPointS() {
  $BS: getBaseSize("S");

  .tour {
    .text:not(.qty) {
      .tour__infos.text__wrapper {
        padding: 0 $BS * 64 $BS * 64;
      }
    }

    .tour__infos {
      padding: $BS * 32 0;
    }

    &__lists {
      flex-direction: column;
    }

    &__materiallist {
      margin-right: 0;
      margin-bottom: $BS * 32;
    }

    &__info {
      margin: $BS * 32;
    }

    .tour__details {
      padding-left: 0;
      padding-right: 0;
    }

    &__bookingWrapper {
      flex-direction: column;
    }

    &__dates {
      width: 100%;
      padding: $BS * 32 0;
    }

    &__booking {
      width: 100%;
      padding: $BS * 32 0;

      a {
        margin-right: 0;
      }
    }
  }
}

@include breakPointXS() {
  $BS: getBaseSize("XS");

  .tour {
    &__galleryImage {
      width: 100%;
      height: auto;
      margin-left: 0;
      margin-right: 0;
    }

    &__date {
      flex-wrap: wrap;
    }
  }
}
